Task4 - SPAM SMS

In [1]:
"""
Build an AI model that can classify SMS messages as spam or legitimate. Use techniques like TF-IDF or word embeddings with
 classifiers like Naive Bayes, Logistic Regression, or Support Vector Machines to identify spam messages
 """

'\nBuild an AI model that can classify SMS messages as spam or legitimate. Use techniques like TF-IDF or word embeddings with\n classifiers like Naive Bayes, Logistic Regression, or Support Vector Machines to identify spam messages\n '

1.Load ,Read or Extract data

In [1]:
import pandas as pd 
data = pd.read_csv("C:\\Users\\Vaibhav\\Downloads\\archive (5)\\spam.csv",encoding='ISO-8859-1') 
data.rename(columns={"v1":"status", 
                     "v2":"Text1",
                      "Unnamed: 2":"Text2", 
                      "Unnamed: 3":"Text3", 
                      "Unnamed: 4":"Text4",}, inplace=True)
data

,status,Text1,Text2,Text3,Text4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

2.EDA

In [2]:
data.isnull().sum()

status       0
Text1        0
Text2     5522
Text3     5560
Text4     5566
dtype: int64

In [3]:
data['Text'] = data['Text1'].fillna(" ").astype(str) + " " + data['Text2'].fillna(" ").astype(str) + " " + data['Text3'].fillna(" ").astype(str) + " " + data['Text4'].fillna(" ").astype(str)
data = data.drop(columns=['Text1', 'Text2', 'Text3', 'Text4'])
data

     status                                               Text
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham        Will Ì_ b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                   Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
data.isnull().sum()

status    0
Text      0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   status  5572 non-null   object
 1   Text    5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [6]:
data.describe()

       status                          Text
count    5572                          5572
unique      2                          5169
top       ham  Sorry, I'll call later
freq     4825                            30

3.Feather Extraction

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data["status"]=le.fit_transform(data['status'])
data

      status                                               Text
0          0  Go until jurong point, crazy.. Available only ...
1          0                Ok lar... Joking wif u oni...
2          1  Free entry in 2 a wkly comp to win FA Cup fina...
3          0  U dun say so early hor... U c already then say...
4          0  Nah I don't think he goes to usf, he lives aro...
...      ...                                                ...
5567       1  This is the 2nd time we have tried 2 contact u...
5568       0        Will Ì_ b going to esplanade fr home?
5569       0  Pity, * was in mood for that. So...any other s...
5570       0  The guy did some bitching but I acted like i'd...
5571       0                   Rofl. Its true to its name

[5572 rows x 2 columns]

In [9]:
x = data['Text']
y = data['status']

4.Modle Buliding - Fit the TF-IDF vectorizer

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(4457,)
(4457,)
(1115,)
(1115,)

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words='english' , max_features=5000)
x_train_tfidf =vectorizer.fit_transform(x_train)
x_test_tfidf = vectorizer.transform(x_test)

5.Modle building and evaluation - MultinomialNB

In [21]:
from sklearn.naive_bayes import MultinomialNB
nb_model = MultinomialNB()
nb_model.fit(x_train_tfidf, y_train)
y_pred_nb = nb_model.predict(x_test_tfidf)

In [23]:
from sklearn.metrics import classification_report,accuracy_score
print("naive bayes classifier:")
print(classification_report(y_test,y_pred_nb))
print("accuracy:",accuracy_score(y_test,y_pred_nb))

naive bayes classifier:
              precision    recall  f1-score   support

           0       0.97      1.00      0.98       965
           1       1.00      0.80      0.89       150

    accuracy                           0.97      1115
   macro avg       0.98      0.90      0.94      1115
weighted avg       0.97      0.97      0.97      1115

accuracy: 0.9730941704035875

6.Modle build and evaluation-LogisticRegression

In [24]:
from sklearn.linear_model import LogisticRegression
lr_modle = LogisticRegression()
lr_modle.fit(x_train_tfidf,y_train)
y_pred_lr = lr_modle.predict(x_test_tfidf)

In [25]:
from sklearn.metrics import classification_report,accuracy_score
print("logisttic regression classifier:")
print(classification_report(y_test,y_pred_lr))
print("accuracy:",accuracy_score(y_test,y_pred_lr))

logisttic regression classifier:
              precision    recall  f1-score   support

           0       0.95      1.00      0.98       965
           1       0.97      0.69      0.81       150

    accuracy                           0.96      1115
   macro avg       0.96      0.85      0.89      1115
weighted avg       0.96      0.96      0.95      1115

accuracy: 0.9560538116591928

7.Modle Building and evalution - SVC

In [26]:
from sklearn.svm import SVC
svc_modle = SVC()
svc_modle.fit(x_train_tfidf,y_train)
y_pred_svm =svc_modle.predict(x_test_tfidf)

In [27]:
from sklearn.metrics import classification_report,accuracy_score
print("support vector manchine classifier:")
print(classification_report(y_test,y_pred_svm))
print("accuracy:",accuracy_score(y_test,y_pred_svm))

support vector manchine classifier:
              precision    recall  f1-score   support

           0       0.97      1.00      0.99       965
           1       0.99      0.83      0.91       150

    accuracy                           0.98      1115
   macro avg       0.98      0.92      0.95      1115
weighted avg       0.98      0.98      0.98      1115

accuracy: 0.9766816143497757

Modle Testing

In [29]:
# message for testing
new_messages = [

"Congratulations! You've won a free vacation to the Bahamas. Call now to claim your prize!",

"Hey, are we still on for the meeting tomorrow?",

"You've been selected for a $1000 shopping spree! Click here to claim your gift card!",

"Can We meet tomorrow ?"
]

new_messages_tfidf = vectorizer . transform (new_messages) # Transform the new messages to match the tr

predictions_nb = nb_model. predict (new_messages_tfidf) # Predict using the Naive Bayesmodel 
predictions_lr = lr_modle . predict (new_messages_tfidf) # Predict using the Logistic Regression mode 
predictions_svm= svc_modle . predict (new_messages_tfidf)

label_map = {0: 'ham', 1: 'spam'} #Convert numerical predictions back to labe
for i, message in enumerate (new_messages) : # Print predictions for each model 
    print(f"Message: {message}") 
    print (f"Status :\tNaive Bayes Prediction : {label_map[predictions_nb[i]] }")
    print(f"\t\tLogistic Regression Prediction :{label_map[predictions_lr[i]] }")
    print(f"\t\tSVM Prediction: {label_map[predictions_svm[i]]}")
    print("=" * 100)

Message: Congratulations! You've won a free vacation to the Bahamas. Call now to claim your prize!
Status :	Naive Bayes Prediction : spam
		Logistic Regression Prediction :spam
		SVM Prediction: spam
====================================================================================================
Message: Hey, are we still on for the meeting tomorrow?
Status :	Naive Bayes Prediction : ham
		Logistic Regression Prediction :ham
		SVM Prediction: ham
====================================================================================================
Message: You've been selected for a $1000 shopping spree! Click here to claim your gift card!
Status :	Naive Bayes Prediction : spam
		Logistic Regression Prediction :spam
		SVM Prediction: spam
====================================================================================================
Message: Can We meet tomorrow ?
Status :	Naive Bayes Prediction : ham
		Logistic Regression Prediction :ham
		SVM Prediction: ham
====================================================================================================